{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} class="collapse-sidebar sidebar-footer" >
  <header id="main-banner" role="banner">{% include header.html %}</header>
  <div id="main-banner-placeholder"></div>
  <div id="social-bar" style="height: 66px;">
    <a href="https://twitter.com/cIynamen" target="_blank" id="social-bar-twitter"></a>
  </div>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
